.row 
  .span4
    %h2 Login
    = form_tag sessions_path do 
      .field
        = label_tag :username
        = text_field_tag :username, params[:username]

      .field
        = label_tag :password
        = password_field_tag :password

      .field 
        = label_tag :remember_me 
        = check_box_tag :remember_me, 1, params[:remember_me]

      .actions
        = submit_tag "Submit"

  .span4
    %h2
      Forgot Password
    = render 'sessions/forgot_password_form'

  .span4
