%h1
  You have
  = pluralize(@albums.count, "album")
  
  with a total of 
  = pluralize(current_user.pictures.count, "photo")

- @albums.each do |album|
  = link_to album.name, album_path(album)
  = link_to "Delete", album_path(album), method: :delete
  %br

%br
%br
%br

- if current_user.quota > @albums.count
  = render partial:"albums/form"

%h3 Buy more albums




  
